<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/dae74232-c22c-4592-bb67-5f773c38df3a/resourcegroups/117050315687042/providers/Microsoft.Web/sites/WebApplication520-AppSetting</ResourceId>
    <ContainerResourceId>/subscriptions/dae74232-c22c-4592-bb67-5f773c38df3a/resourceGroups/117101816518059/providers/Microsoft.ContainerRegistry/registries/registry20171025045132</ContainerResourceId>
    <ContainerResourceName>registry20171025045132</ContainerResourceName>
    <ResourceGroup>117050315687042</ResourceGroup>
    <Subscription>Microsoft Azure Internal Consumption</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20171025045132.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webapplication520-appsetting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1563d156-3373-44a9-9a87-050c91cee916</ProjectGuid>
  </PropertyGroup>
</Project>